body {
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 150%;
	color:#A9A9A9;
}

h1 {
    font-size: 120%;
    margin-bottom: 40px;
}

h2 {
    font-size: 100%;
}

p {
    margin-left: 20px;
}

a{
    color:#A9A9A9;
    text-decoration: none;
}

a:link { color:#A9A9A9; }
a:visited { color:#A9A9A9; }
a:hover { color:#A9A9A9; }
a:active { color:#A9A9A9; }

li{
    list-style-type: none;
}